# PyInstaller Build Artifacts
build/
dist/
*.spec

# User-Specific Application Files
config.json
mod_mappings.json

# Python cache
__pycache__/

# Virtual Environment
venv/
.venv/


# =================================================================
# Design & Project Files
# =================================================================
*.afphoto
*.afpub
*.afdesign
*.psd
*.psb
*.blend
*.blend1
*.gimp

# =================================================================
# Build & Utility Scripts
# =================================================================
*.bat